<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 style="color: #FFA500; font-weight: bold; font-size: 6em; -webkit-text-stroke: 1px black;">
                Registro
            </h1>

            <form action="/registrarse" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label fw-bold">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label fw-bold"> Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div class="form-text">No trolling pls!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Dirección de email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="mb-3">
<<<<<<< HEAD
                    <label for="age" class="form-label fw-bold"> Edad</label>
=======
                    <label for="age" class="form-label">Fecha de Nacimiento</label>
>>>>>>> 9efc5482e9c8856b63a6890b44ccb138dd48e2e0
                    <input type="date" class="form-control" id="age" name="age">
                </div>

                <div class="mb-3">
                    <label for="cover" class="form-label fw-bold"> Imagen de perfil</label>
                    <input type="file" class="form-control" id="cover" name="cover">
                    <div class="form-text">La imagen es obligatoria!!
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit"
                        class="btn btn-lg btn-light fw-bold border-dark bg-warning">Registrarme</button>
                </div>

            </form>

        </div>
    </div>
</div>