<div class="d-flex text-center justify-content-center align-items-center" style="height: 80vh;">
    <div class="cover-container p-3 mx-auto">
        <h1 style="color: #FFA500; font-weight: bold; font-size: 8em; -webkit-text-stroke: 1px black;">{{appTitle}}</h1>
        <div class="container">
            <p class="lead"
                style="color: antiquewhite; font-weight: bold; font-size: 3em;  -webkit-text-stroke: 1px black;">
                ¡Bienvenido a
                un
                portal que desata la
                aventura!
                Sumérgete en un mundo lleno de destinos
                fascinantes, culturas vibrantes
                y experiencias inolvidables. ¡Prepárate para un viaje inolvidable! Déjanos ser tu compañero confiable en
                cada
                paso de tu travesía por el mundo.</p>
            <p class="lead">
                <a href="/paises" class="btn btn-lg btn-light fw-bold border-white bg-white"> Ver Paises</a>
            </p>
        </div>
    </div>
</div>