<div class="inicio">
    <div class="d-flex text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <video autoplay="autoplay" loop="loop" id="video_background" preload="true" volume="50">
                <source src="../images/BgIndex.mp4" type="video/mp4" />
            </video>

            <h1>{{appTitle}}</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                background photo to make it your own.</p>
            <p class="lead">
                <a href="/paises" class="btn btn-lg btn-light fw-bold border-white bg-white"> Ver Paises</a>
            </p>
        </div>
    </div>
</div>