/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: sans-serif;
  font-weight: 200;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

#myMap {
  height: 100vh;
  background-color: red;
}

#map {
  height: 100vh;
  background-color: red;


}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: 20%;
  background-position: center;
  animation: cambioImagenes 100s infinite;
}

@keyframes cambioImagenes {

  0% {
    background-image: url('/images/puente-madera.avif');
  }

  10% {
    background-image: url('/images/Viaje1.jpg');
  }

  20% {
    background-image: url('/images/viajes2.jpg');
  }

  30% {
    background-image: url('/images/viaje3.jpg');
  }

  40% {
    background-image: url('/images/Viaje4.jpg');
  }

  50% {
    background-image: url('/images/viaje5.jpg');
  }

  60% {
    background-image: url('/images/Viaje6.jpg');
  }

  70% {
    background-image: url('/images/viaje7.jpg');
  }

  80% {
    background-image: url('/images/viaje9.jpg');
  }

  100% {
    background-image: url('/images/viaje10.jpg');
  }
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-custom {
  background-color: cornflowerblue ;
  color: darkgreen
}
