<div class="text-center">
    <div class="row align-items-start">
        <div class="col">
            <div class="card mb-5 ">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{capital}}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>

            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                {{#each allStates}}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{name}}</h5>
                        <p class="card-text"> {{iso2}}</p>
                    </div>
                </div>

                {{/each}}
            </div>



        </div>

        <div class="col">
            <div class="position-relative">
                <figure id="myMap"></figure>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/map.js"></script>
        <script src="/services/countries.services.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyBpaXfuU2S1S4KFhTCwvA_-bEWCozOAIzI"></script>

    </div>
</div>
</div>