<div class="container">
    <div class="text-center">
        <div class="row align-items-start">
            <div class="col">
                <h1 style="color: #FFA500; font-weight: bold; font-size: 6em; -webkit-text-stroke: 1px black;">
                    Estados
                </h1>
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-4 grid gap-4">
                        {{#each allStates}}
                        <div class="card border-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header fw-bold">{{name}} </div>
                            <div class="card-body">
                                <p><class="card-title">{{iso2}}</p>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="/js/map.js"></script>
            <script src="/services/countries.services.js"></script>

        </div>
    </div>
</div>