{{!-- <div class="position-relative">
    <div class="position-absolute top-0 end-0">
        <h1>Cuidades</h1>
        <hr>
        <figure id="myMap"></figure>
    </div>
</div>


{{!--
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> --}}
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=init&key="></script> --}}