<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1> Hacer un comentario</h1>
            <hr>

            <form action="/guia-viajes/comentar/{{_id}}" method="POST">
                <div class="form-group">
                    <label for="nombreUsuario">Nombre de Usuario:</label>
                    <input type="text" class="form-control" id="nombreUsuario" placeholder="Ingrese su nombre">
                </div>
                <div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea class="form-control" id="comentario" rows="3"
                        placeholder="Ingrese su comentario"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Comentario</button>

            </form>
        </div>
    </div>
</div>